@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen and (orientation: landscape) {
    body {
      display: none;
    }
  
    .landscape-message {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
      background-color: black;
      font-size: 24px;
    }
  } */
  